<%= content_for :title, @person[:firstname] + " " + @person[:lastname] %>
<%= form_tag(change_photo_path, method: "post", id: "photo-form", class: "hidden", multipart: true) do %>
	<input id='photo' type='file' name='photo_file' accept="image/*"/>
<% end %>
<div class="section"></div>
<div class="container">
	<div class="row">
		<div class="col s12 m12 l12">
			<div class="card-panel" style="padding-left: 50px; padding-right: 50px;">
				<div class="row">
					<div class="col s12 m4 l3">
						<img id="profile-avatar" src="<%= @person[:photo] %>" alt="" class="circle">
					</div>
					<div id="profile-name" class="col s12 m6 l9">
						<h5 style="font-weight: bold;"><%= @person[:firstname] + " " + @person[:lastname] %></h5>
						<span>@<%= @person[:username] %></span>
					</div>
				</div>
				<% if @user.present? && @user[:id] == @person[:id] %>
					<div class="row">
						<div class="col s12">
							<a class="waves-effect waves-light btn right amber darken-1" onclick='$("#photo").click();'>Change photo<i
								class="mdi-editor-mode-edit right"></i></a>
						</div>
					</div>
				<% end %>
				<div class="divider"></div>
				<div class="section">
					<div class="row">
						<div class="col s12">
							<ul class="tabs">
								<li class="tab col s6"><a href="#test1">Created
										Events</a></li>
								<li class="tab col s6"><a class="active"
									href="#test2">Joined Events</a></li>
							</ul>
						</div>
						<div id="test1" class="col s12">
							<% if @created.present? && @created.size > 0 %>
								<ul>
									<% @created.each_with_index do |event, event_index| %>
										<li style="padding-top: 20px;">
											<div class='row'>
											<div class="col l2">
												<div style="width: 100px; height: 100px; position: relative; left: 50%; transform: translateX(-50%); background-image: url('<%= event[:photo] %>'); background-size: cover;"></div>
											</div>
											<div class="col l10">
												<a href='<%= event[:link] %>' class='blue-text' target='_blank' style="text-transform: none; font-size: 1.2rem;"><%= event[:title] %></a>
												<p class="grey-text text-lighten-1" style='margin:0;'><%= event[:date] %></p>
											</div>
										</div>
										</li>
										<li class="divider" style="<% if event_index != @created.size - 1 %> margin: 20px 0px; <% end %>"></li>
									<% end %>
								</ul>
							<% else %>
								<p>There are no created events yet</p>
							<% end %>
						</div>
						<div id="test2" class="col s12">
							<% if @joined.present? && @joined.size > 0 %>
								<ul>
									<% @joined.each_with_index do |event, event_index| %>
										<li style="padding-top: 20px;">
											<div class='row'>
											<div class="col l2">
												<div style="width: 100px; height: 100px; position: relative; left: 50%; transform: translateX(-50%); background-image: url('<%= event[:photo] %>'); background-size: cover;"></div>
											</div>
											<div class="col l10">
												<a href='<%= event[:link] %>' class='blue-text' target='_blank' style="text-transform: none; font-size: 1.2rem;"><%= event[:title] %></a>
												<p class='grey-text text-darken-1'>by <a href='<%= event[:author_link] %>' style='text-transform: none; padding-top: 0;'><%= event[:author] %></a></p>
												<p class="grey-text text-lighten-1" style='margin:0;'><%= event[:date] %></p>
											</div>
										</div>
										</li>
										<li class="divider" style="<% if event_index != @joined.size - 1 %> margin: 20px 0px; <% end %>"></li>
									<% end %>
								</ul>
							<% else %>
								<p>There are no joined events yet</p>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col s8 m8 l8">
		</div>

		<div class="section"></div>
		<div class="divider"></div>
	</div>
</div>
<script>
  $(document).ready(function(){
    $('.modal-trigger').leanModal();
  });

  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false
    });
  });
  $("#photo").change(function(e){
  	$("#photo-form").submit();
  });
</script>